$h4-first-restructure-point: 1425px;
$h4-second-restructure-point: 1195px;
$h4-third-restructure-point: 991px;

@media (max-width: $h4-first-restructure-point) and (min-width: $h4-third-restructure-point - 1) {
	.header {
		> .recent-match-information {
			.view-match,
			.match-statistic.featured-stat,
			.match-statistic.medals {
				display: none !important;
			}
		}
	}
}
@media (max-width: $h4-second-restructure-point) {
	.header > .player-visual-flairs {
		display: none;
	}
}
@media (max-width: $h4-third-restructure-point) {
	.header {
		> .recent-match-index {
			display: flex;
			justify-content: center;
		}

		> .player-information {
			margin-top: 90px;
			text-align: center;
		}

		> .recent-match-information {
			.view-match,
			.match-statistic.featured-stat,
			.match-statistic.medals {
				display: block !important;
			}

			.match-details {
				display: flex;
				justify-content: center;

				> .match-statistic {
					margin-right: 40px !important;
				}
			}
		}
	}
}

.header {
	height: 610px;
	transition: background-image 0.5s;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: bottom;

	.recent-match-index {
		margin-top: 120px;
		display: flex;
		align-items: center;

		.item-container {
			width: 34px;
			height: 34px;
			display: inline-block;

			.item-indicator {
				transition: 0.5s;
				margin: 12px;
				width: 10px;
				height: 10px;
				background-color: $brand-quaternary;
				border-radius: 100px;
				opacity: 0.8;
				display: flex;
				align-items: center;
				cursor: pointer;

				&.active {
					margin: 7px;
					width: 20px;
					height: 20px;
					border: 4px solid #a85187;
					background-color: #fd5aa3;
				}
			}
		}
	}

	.player-information {
		margin-top: 70px;

		h1 {
			color: white;
			font-size: 55px;
			font-weight: 600;
		}

		ul {
			color: $text-light-grey;
			padding: 0;
			list-style-type: none;
			font-size: 18px;
			font-weight: 100;

			> li {
				display: inline;
				margin-right: 5px;

				&:last-of-type {
					margin-right: 0;
				}
			}
		}
	}

	.recent-match-information {
		transition: 0.5s;
		margin-top: 90px;
		padding-left: 18px;
		color: white;
		font-weight: 100;
		font-size: 20px;


		.no-col-padding {
			padding: 0;
		}

		.match-overview {
			.match-mode, .match-map {
				font-weight: 600;
				font-size: 22px;
			}

			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.view-match {
			font-weight: 600;
			font-size: 15px;
			text-align: right;
			line-height: 2.1;
		}

		.details-seperator {
			> hr {
				margin-top: 10px;
				margin-bottom: 10px;
			}
		}

		.match-details {
			margin-top: 5px;
			padding-top: 5px;
			border-top: 1px solid $seperator-light;
			height: 57px;
			overflow: hidden;

			.match-statistic {
				display: inline-block;
				margin-right: 40px;
				font-weight: 500;

				&:last-of-type {
					margin-right: 0;
				}

				.value {
					font-weight: 600;
					font-size: 40px;
					color: $brand-accent-primary;
				}
				.key {
					display: inline-block;
					margin-left: 5px;

					span {
						display: block;
					}
					.header-key {
						color: white;
						font-size: 16px;
					}
					.sub-key {
						color: $text-light-grey;
						font-size: 14px;
					}
				}
			}
		}
	}

	.player-visual-flairs {
		transform: 0.5s;

		> .emblem-flair {
			background-repeat: no-repeat;
			background-position-x: right;
			height: 120px;
			margin-top: -300px;
		}
		> .spartan-flair {
			background-repeat: no-repeat;
			background-position-x: left;
			height: 358px;
			margin-top: -120px;
			transform: scaleX(-1);
		}
	}
}
