#halo4-service-record {
	.header {
		height: 610px;
		transition: background-image 0.5s;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;

		.recent-match-index {
			margin-top: 120px;
			display: flex;
			align-items: center;

			.item-container {
				width: 34px;
				height: 34px;
				display: inline-block;

				.item-indicator {
					transition: 0.5s;
					margin: 12px;
					width: 10px;
					height: 10px;
					background-color: $brand-quaternary;
					border-radius: 100px;
					opacity: 0.8;
					display: flex;
					align-items: center;
					cursor: pointer;

					&.active {
						margin: 7px;
						width: 20px;
						height: 20px;
						border: 4px solid #a85187;
						background-color: #fd5aa3;
					}
				}
			}
		}

		.player-information {
			margin-top: 70px;
			h1 {
				color: white;
				font-size: 55px;
				font-weight: 600;
			}

			ul {
				color: $text-light-grey;
				padding: 0;
				list-style-type: none;
				font-size: 18px;
				font-weight: 100;

				> li {
					display: inline;
					margin-right: 5px;

					&:last-of-type {
						margin-right: 0;
					}
				}
			}
		}

		.recent-match-information {
			transition: 0.5s;
			margin-top: 90px;
			padding-left: 18px;
			color: white;
			font-weight: 100;
			font-size: 20px;

			.no-col-padding {
				padding: 0;
			}

			.match-overview {
				.match-mode, .match-map {
					font-weight: 600;
					font-size: 22px;
				}
			}

			.view-match {
				font-weight: 600;
				font-size: 15px;
				text-align: right;
				line-height: 2.1;
				height: 100%;
			}

			.details-seperator {
				> hr {
					margin-top: 10px;
					margin-bottom: 10px;
				}
			}

			.match-details {
				.match-statistic {
					display: inline-block;
					margin-right: 40px;
					font-weight: 500;

					&:last-of-type {
						margin-right: 0;
					}

					.value {
						font-weight: 600;
						font-size: 40px;
						color: $brand-accent-primary;
					}
					.key {
						display: inline-block;
						margin-left: 5px;

						span {
							display: block;
						}
						.header-key {
							color: white;
							font-size: 16px;
						}
						.sub-key {
							color: $text-light-grey;
							font-size: 14px;
						}
						// font-size: 30px;
					}
				}
			}
		}

		.player-visual-flairs {
			> .emblem-flair {
				background-repeat: no-repeat;
				height: 120px;
				margin-top: -308px;
				transform: scaleX(-1);
			}
			> .spartan-flair {
				background-repeat: no-repeat;
				height: 350px;
				margin-top: -120px;
				transform: scaleX(-1);
			}
		}
	}

	.experience-bar {
		background: #f9f9fb;
		border-bottom: 1px solid #ebebeb;
		height: 75px;
		padding: 0;

		> .fluid-container {
			padding-top: 0;

			> .col-md-9 {
				padding: 0;

				> .profile {
					display: inline-block;
					padding-left: 75px;
					padding-right: 20px;
					margin-right: 20px;
					height: 75px;

					transition: 0.5s;
					cursor: pointer;

					background-size: 35px;
					background-repeat: no-repeat;
					background-position: 20px center;

					> a {
						display: inline-flex;
						align-items: center;
						height: 100%;
						text-decoration: none !important;

						> .col-md-10 { padding: 0; }

						> .flair {
							color: $brand-quaternary;

							> h4 {
								margin: 0;
								padding: 0;
								margin-bottom: 4px;
								font-weight: 600;
								color: $brand-secondary;
							}
						}

						> .dropdown-selector {
						}
					}

					&.xbox-live { background-image: image-url('profiles/xbox-live.png'); }
					&.halo { background-image: image-url('profiles/halo.png'); }
					&.destiny { background-image: image-url('profiles/destiny.png'); }
					&.titanfall { background-image: image-url('profiles/titanfall.png'); }
					&:hover { color: $brand-tertiary; }
					&.active {
						color: $text-light-grey;
						border-bottom: 4px solid $brand-tertiary;
						margin-top: -4px;
					}

					> .popover {
						border-color: $brand-quaternary;
						box-shadow: 0 5px 10px rgba($brand-quaternary, .9);

						> .popover-content {
							> .profile {
								border-bottom: 1px solid #eee;
								padding-top: 10px;
								padding-bottom: 10px;
								height: 40px;
								padding-left: 55px;

								background-size: 25px;
								background-repeat: no-repeat;
								background-position: 10px center;

								&:last-of-type {
									border: 0;
								}

								> a {
									text-decoration: none !important;

									> h4 {
										color: $brand-quaternary;
										margin: 0;
										padding: 0;
										margin-bottom: 4px;
										font-weight: 600;
										color: $brand-secondary;
									}
								}

								&.halo-3 { background-image: image-url('profiles/halo-3.png'); }
								&.halo-3-odst { background-image: image-url('profiles/halo-3-odst.png'); }
								&.halo-reach { background-image: image-url('profiles/halo-reach.png'); }
								&.halo-4 { background-image: image-url('profiles/halo-4.png'); }
								&.halo-5 { background-image: image-url('profiles/halo-5.png'); }
								
								&.titanfall { background-image: image-url('profiles/titanfall.png'); }
								&.titanfall-2 { background-image: image-url('profiles/titanfall.png'); }
							}
						}
					}
				}
			}

			.social {
				text-align: right;

				ul {
					margin: 0;
					padding: 0;

					> li {
						color: #c4c0cd;
						margin: 0;
						padding: 0;
						margin-left: 15px;
						margin-right: 15px;
						display: inline-block;
						transition: 0.5s;
						font-size: 22px;
						line-height: 3.5;
						cursor: pointer;

						&:hover {
							color: $brand-primary;
						}
					}
				}
			}
		}

		&.experience-bar {
			top: 70px;
			left: 0;
			right: 0;
		}
	}

	.placeholder {
		height: 1000px;
	}
}
