.placeholder {
	height: 1000px;
}

.page-content {
	section {
		margin-bottom: 30px;
		&:last-of-type {
			margin-bottom: 0;
		}

		.section-header {
			font-weight: 300;
			font-size: 30px;
			// color: $text-dark;
			color: $brand-primary;

			width: 100%;
			border-bottom-width: 1px;
			border-bottom-style: solid;
			// border-bottom-color: $brand-accent-primary;
			border-image: linear-gradient(to right, $brand-primary 0%, $brand-tertiary 100%), linear-gradient(to right, $brand-primary 0%, $brand-tertiary 100%);
		}

		&.service-record-stats {

		}
	}
}
