@model Branch.App.Areas.Halo4.Models.Base
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Template += " halo4";
}

@Html.Partial("HeaderServiceRecord", @Model)

<div class="container">
	<div class="row">
		<div class="col-md-9">
			@RenderBody()
		</div>

		<div class="col-md-3">
			@Html.Partial("Sidebar", @Model)
		</div>
	</div>
</div>

@section scripts
{
	@RenderSection("scripts", false)
}
