body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

	background-color: #3d3d7c !important;
}

.component-app {
	background-color: white;
}

// Custom anchor styles
a {
	transition: 0.3s;
	color: #3d3d7c;

	&.alt {
		color: #e25092;

		&:hover {
			color: #b42c69;
			text-decoration: none;
		}
		&:active,
		&:focus {
			color: #b42c69;
			opacity: 0.7;
		}
	}

	&:hover {
		color: #353575;
		text-decoration: none;
	}
	&:active,
	&:focus {
		color: #353575;
		opacity: 0.7;
	}
}
