<% content_for :blog, true %>
<% content_for :title, 'Privacy Policy' %>	
<% content_for :has_footer, true %>
<% content_for :template, 'legal legal_privacy' %>
<% content_for :scripts do %>
<script>
</script>
<% end %>

<div class="bs-header" id="content">
	<div class="container">
		<h1>Privacy Policy</h1>
		<p>What Branch will do with your data, and how.</p>
	</div>
</div>