<% 
count = 0
[ :success, :failure, :warning, :info ].each do |level|
	count += 1
end
%>

<% if (count > 0) %>
	<div class="alert-container">
<% end %>

	<% [ :success, :failure, :warning, :info ].each do |level| %>
		<% if (flash[level] != nil) %>
			<div class="alert alert-<%= flash_class(level) %> alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<strong>
					<%= flash[level][:title] %>
				</strong>
				<%= flash[level][:desc] %>
			</div>
		<% end %>
	<% end %>

<% if (count > 0) %>
	</div>
<% end %>
