<% content_for :halo4, true %>
<% content_for :title, "Halo 4 - iBotPeaches v5's #{@friendly_name} Commendations" %>	
<% content_for :has_footer, true %>
<% content_for :halo4_active, 'commendations' %>
<% content_for :halo4_commendations_active, @css_class %>
<% content_for :scripts do %>
<script>

</script>
<% end %>
<% content_for :template, 'halo4 halo4_commendations' %>

<%= render partial: 'halo4/partials/header' %>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<%= render partial: 'halo4/partials/sidebar' %>
		</div>

		<div class="col-md-9">
			<div class="bs-branch-section commendations">
				<div class="page-header">
					<h1><%= @friendly_name %> Commendations</h1>
				</div>

				<div class="row">
					<% 12.times do |i| %>
						<div class="col-md-6 entry">
							<div class="title">
								<span class="numerical">7/7</span>
								Battle Rifle - Master</div>
							<div class="description">Kill enemy Spartans with the Battle Rifle</div>

							<div class="progression">
								<div class="points">
									<div class="lower">0</div>
									<div class="upper">1337</div>
									<div class="clearfix"></div>
								</div>

								<div class="progress progress-striped active">
									<div class="progress-bar"  role="progressbar" aria-valuenow="69" aria-valuemin="0" aria-valuemax="100" style="width: 69%">
										<span class="sr-only">69% Complete</span>
										<span class="progress-bar-indicator">69% Complete</span>
									</div>
								</div>
							</div>
							<hr />
						</div>
					<% end %>
				</div>

			</div>
		</div>
	</div>
</div>
