<% content_for :halo4, true %>
<% content_for :title, "Halo 4 - iBotPeaches v5's #{@friendly_name} Commendations" %>	
<% content_for :has_footer, true %>
<% content_for :halo4_active, 'commendations' %>
<% content_for :halo4_commendations_active, @css_class %>
<% content_for :scripts do %>
<script>

</script>
<% end %>
<% content_for :template, 'halo4 halo4_commendations' %>

<%= render partial: 'halo4/partials/header' %>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<%= render partial: 'halo4/partials/sidebar' %>
		</div>

		<div class="col-md-9">
			<div class="bs-branch-section commendations">
				<div class="page-header">
					<h1><%= @friendly_name %> Commendations</h1>
				</div>
			</div>
		</div>
	</div>
</div>
