@using Branch.App.Areas.Reach.Models.Enums
@using Branch.App.Helpers.Razor
@model Branch.App.Areas.Reach.Models.Base
@{
	var currentPage = ViewBag.CurrentReachPage ?? CurrentPage.ServiceRecord;
}
<div class="bs-sidebar" data-spy="affix" data-offset-top="308">
	<ul class="nav bs-sidenav">
		<li class="active">
			<a href="@Url.Action("Index", "ServiceRecord", new RouteValueDictionary { { "gamertag", Model.PublicGamertag } })">
				<span class="glyphicon glyphicon-tree-deciduous"></span> Branch
			</a>

			<ul class="nav">
				<li class="@BranchHelpers.CompareEnum(currentPage, CurrentPage.ServiceRecord, "active")">
					@Html.ActionLink("Service Record", "Index", "ServiceRecord", new RouteValueDictionary { { "gamertag", Model.PublicGamertag } }, new Dictionary<string, object>())
				</li>
			</ul>
		</li>
	</ul>
</div>

