.game-switcher {
	height: 50px;
	background-color: rgba(23,30,36,0.45);
	margin: 0 0 10px 0;
	text-align: center;

	@media (max-width: 767px) {
		display: none;
	}

	.selector-nav {
		margin: 0 auto;

		> .nav-of-bar {
			font-size: 15px;
			font-weight: normal;
			color: white;
			list-style: none;
			padding: 14px;

			> li {
				display: inline;
				-moz-transition: 0.25s ease;
				-o-transition: 0.25s ease;
				-webkit-transition: 0.25s ease;
				transition: 0.25s ease;
				opacity: 0.55;
				cursor: pointer;

				> a {
					padding: 0 12px 17px 12px;
					margin: 10px 0;
				}

				&.active {
					opacity: 1;

					> a {
						padding: 0 12px 14px 12px;
						border-bottom: 3px solid white;
					}
				}

				&:hover {
					opacity: 1;
				}
			}
		}
	}
}