footer {
	background-image: image-url('footer.png');
	background-repeat: repeat-x;
	background-position: top center;
	padding-top: 104px;

	> .content {
		background: $brand-primary;
		padding-bottom: 30px;
		padding-top: 30px;

		> .fluid-container {
			color: #ccc;

			> .info {
				width: 100%;
				padding-top: 20px;
				padding-bottom: 20px;

				background-image: image-url('logo/logo-255x255-w.png');
				background-size: 80px;
				background-repeat: no-repeat;
				background-position: right center;

				> ul {
					list-style-type: none;
					padding: 0;
					margin: 0;
					margin-top: 20px;

					> li {
						display: inline-block;
						padding-right: 15px;
					}
				}

				> p {
					margin: 0;
				}
			}
		}
	}
}
