footer {
	background: white;
	padding-top: 30px;
	padding-bottom: 10px;
	padding-left: 80px;
	padding-right: 80px;

	border-top: 2px solid $brand-primary;
	border-bottom: 25px solid $brand-primary;
}
