@model bool
@{
	var haveContainer = Model;
}

<div id="flash-message-container" class="alert-container">
	<div id="flash-message-box" class="alert alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<strong>

		</strong>
		<span>

		</span>
	</div>
</div>