<!-- Social Networks are such a fad -->
<ul class="social-media-shit">
	<li>
		<!-- NeckbeardHub -->
		<iframe src="/stuff/github-btn.html?user=xerax&repo=branch&type=watch" 
			allowtransparency="true" 
			frameborder="0" 
			scrolling="0" 
			width="50" 
			height="20"></iframe>
	</li>

	<li>
		<!-- NeckbeardHub 2 -->
		<iframe src="/stuff/github-btn.html?user=xerax&repo=branch&type=fork" 
			allowtransparency="true" 
			frameborder="0" 
			scrolling="0" 
			width="55" 
			height="20"></iframe>
	</li>

	<li>
		<!-- Fuckbook -->
		<div class="fb-like" 
			data-width="300" 
			data-layout="button_count" 
			data-show-faces="false" 
			data-send="false"></div>
	</li>

	<li>
		<!-- Twitter -->
		<a href="https://twitter.com/share" 
			class="twitter-share-button" 
			data-via="alexerax" 
			data-hashtags="branchapp" 
			data-dnt="true">Tweet</a>
	</li>
</ul>