.game-switcher-component {
	background: #f9f9fb;
	border-bottom: 1px solid #ebebeb;
	padding: 0;

	.container-fluid {
		display: flex;
		justify-content: space-between;

		> .games {
			display: flex;

			> .game {
				display: flex;
				align-items: center;
				border-bottom: 4px solid transparent;
				padding: .6rem 1rem;
				margin-bottom: -1px;

				> .game-icon {
					width: 3.5rem;
					height: 2rem;

					transition: .5s;

					background-position: left center;
					background-size: contain;
					background-repeat: no-repeat;
				}
				> .info {
					> span { display: block; }

					> .game {
						color: #353575;
						font-weight: 800;
						font-size: 1.1rem;
					}
					> .identity {
						font-size: .9rem;
						color: #aaa4b6;
					}
				}
				> .dropdown-selector {
					margin-left: 2rem;
				}
	
				&:hover > .info > * { color: #5d5da0; }
				&.active { border-bottom-color: #5d5da0; }
				&.multi { cursor: pointer; }
			}
		}

		> .socials {
			display: flex;
			flex-direction: row-reverse;
			align-items: center;

			> .social {
				color: #c4c0cd;
				font-size: 1.4rem;
				padding: 0 .9rem;

				transition: 0.5s;
				cursor: pointer;

				&:hover {
					color: #3d3d7c;
				}
			}
		}
	}

	@media (max-width: 1350px) {
		.container-fluid {
			> .games > .game > .game-icon {
				width: 0;
				opacity: 0;
			}

			> .socials > .social {
				padding: 0 .6rem;
			}
		}
	}

	@media (max-width: 1045px) {
		.container-fluid {
			padding: 0;
			justify-content: center;

			> .games > .game > .game-icon {
				transition: none;
			}

			> .socials {
				display: none;
			}
		}
	}

	@media (max-width: 768px) {
		.container-fluid > .games {
			flex-direction: column;
			width: 100%;

			> .game {
				border-bottom: none;
				border-left: 4px solid transparent;

				> .game-icon {
					opacity: 1;
					width: 3.5rem;
					height: 2rem;
				}
				> .dropdown-selector {
					margin-left: auto;
				}

				&.active {
					border-left-color: #5d5da0;
				}
			}
		}
	}
}

.game-switcher-popover {
	border-color: #aaa4b6;
	box-shadow: 0 5px 10px rgba(#aaa4b6, .9);

	.popover-body > .title {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 1rem .5rem;

		> .game-icon {
			height: 1.8rem;
			width: 1.8rem;

			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}
		> span {
			padding-left: 1rem;
			color: #353575;
			font-weight: 700;
			font-size: 1rem;
		}
	}
}
