<% content_for :user, true %>
<% content_for :title, "Xerax's Friends" %>	
<% content_for :has_footer, true %>
<% content_for :account_active, 'friends' %>
<% content_for :scripts do %>
<script>

</script>
<% end %>
<% content_for :template, 'account account_friends' %>

<%= render partial: 'user/account/partials/header' %>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<%= render partial: 'user/account/partials/sidebar' %>
		</div>

		<div class="col-md-9">
			<div class="bs-branch-section friends">
				<div class="page-header">
					<h1>Friends</h1>
				</div>

				<% 10.times do |i| %>
					<div class="row friend-entry">
						<div class="col-md-12">
							<h2>
								<%= link_to 'Xerax', user_view_path(username: 'xerax') %>
							</h2>
							<h3>Alex Reed</h3>
							<ul class="no-style inline">
								<li><span class="label label-success">Developer</span></li>
								<li><span class="label label-info">Halo 4</span></li>
								<li><span class="label label-info">Halo Reach</span></li>
								<li><span class="label label-info">Halo 3</span></li>
							</ul>
						</div>
					</div>
					<hr />
				<% end %>
			</div>
		</div>
	</div>
</div>
