<ul class="nav">
	<li class="nav-header">
		Branch
	</li>
	<li class="active">
		<a href="#">Service Record</a>
	</li>
	<li>
		<a href="#">Match History</a>
		<ul class="nav">
			<li><a href="#">War Games</a></li>
			<li><a href="#">Campaign</a></li>
			<li><a href="#">Spartan Ops</a></li>
			<li><a href="#">Custom Games</a></li>
		</ul>
	</li>
	<li>
		<a href="#">Specializations</a>
	</li>
	<li>
		<a href="#">Competitive Skill Ranks</a>
	</li>
</ul>

<hr />

<a id="slide-into-waypoint" class="alt" target="_blank" href="https://app.halowaypoint.com/en-US/Halo4/<%= @identity['gamertag'] %>/wargames/">
	<i class="fa fa-share" aria-hidden="true"></i>
	Go To Waypoint
</a>
