<table class="table">
	<thead>
		<tr>
			<th>
				
			</th>
			<th>
				Name
			</th>
			<th>
				Description
			</th>
			<th>
				Ranking
			</th>
		</tr>
	</thead>
	<tbody>
		<% playlists.each do |playlist| %>
			<% playlist_slug = playlist['PlaylistName'].to_slug() %>
			<tr>
				<td>
					<img src="<%= get_raw_asset_url(playlist['PlaylistImageUrl'], 'small') %>" />
				</td>
				<td>
					<%= link_to(playlist['PlaylistName'], halo4_csr_details_path(gamertag: gamertag_validation(@service_record['Gamertag']), id: playlist['PlaylistId'], slug: playlist_slug)) %>
				</td>
				<td>
					<%= playlist['PlaylistDescription'] %>
				</td>
				<td>
					<div class="csr-table-icon" style="background-image: url(<%= get_csr_level_url(playlist['CurrentSkillRank']) %>)"></div>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>