<div class="bs-header user-auth-header" id="content">
	<div class="container">
		<h1><%= title %></h1>
		<p><%= description %></p>

		<div class="holy-shit-people hidden-xs">
			<div class="player a" style="background-image: url(https://spartans.svc.halowaypoint.com/players/Swainooooo/h4/spartans/fullbody?target=large)"></div>
			<div class="player b" style="background-image: url(https://spartans.svc.halowaypoint.com/players/Doofette/h4/spartans/fullbody?target=large)"></div>
			<div class="player c" style="background-image: url(https://spartans.svc.halowaypoint.com/players/Pr0gram/h4/spartans/fullbody?target=large)"></div>
		</div>
	</div>
</div>