<% content_for :blog, true %>
<% content_for :title, 'Terms' %>	
<% content_for :has_footer, true %>
<% content_for :template, 'legal legal_terms' %>
<% content_for :scripts do %>
<script>
</script>
<% end %>

<div class="bs-header" id="content">
	<div class="container">
		<h1>Terms</h1>
		<p>stuff.</p>
	</div>
</div>

<div class="container">
	<%= render partial: 'partials/flash', locals: { flash: flash } %>
</div>
