<% content_for :halo4, true %>
<% content_for :title, 'Halo 4' %>	
<% content_for :has_footer, true %>

<div class="bs-header welcome-header" id="content">
	<div class="container">
		<h1>Halo 4 Stats</h1>
		<p>Browse, Search and Explore Halo 4 stats. Just how you want.</p>
	</div>
</div>