footer {
	background-image: url('/images/footer.png');
	background-repeat: repeat-x;
	background-position: top center;
	padding-top: 6.5rem;
	margin-top: 5.5rem;

	> .content {
		background: #3d3d7c;
		color: #ccc;
		padding: 2rem 5em;
		font-size: .875rem;

		> .info {
			width: 100%;
			padding: 1.25rem 0;

			background-image: url('/images/logo/logo-255x255-w.png');
			background-size: 5rem;
			background-repeat: no-repeat;
			background-position: right center;

			> ul {
				list-style-type: none;
				padding: 0;
				margin: 0;
				margin-top: 1.25rem;

				> li {
					display: inline-block;
					padding-right: 1rem;
				}
			}

			> p {
				margin: 0;
			}
		}
	}
}
