<% content_for :user, true %>
<% content_for :title, 'Register' %>	
<% content_for :has_footer, true %>
<% content_for :scripts do %>
<script>
</script>
<% end %>
<% content_for :template, 'user user_register' %>

<div class="container">
</div>
