<% content_for :user, true %>
<% content_for :title, 'Password Reset' %>	
<% content_for :has_footer, true %>
<% content_for :scripts do %>
<script>
</script>
<% end %>
<% content_for :template, 'user user_reset_password' %>

<%= render partial: 'user/partials/header', locals: { title: 'Password Reset', description: 'If you forgot your password, you can start the reset process here.' } %>

<div class="container">
	<%= render partial: 'partials/flash', locals: { flash: flash } %>
</div>

<div class="continer reset-password">

</div>