- title ' - Halo 4 Challenges'
- active_halo4 'active'

.container{:style => 'margin-top: 80px; min-width: 1300px; max-width: 1300px;'}
  .row-fluid
    %span{ :style => 'font-size: 45px;' }
      Halo 4 - Challenges

    .hero-unit{ :style => 'margin-top: -15px;' }
      - @challenge_categories.each do |category|
        = render :partial => 'halo4/challenges/category', :locals => { :category => category }