<article id="halo4-matches-match" class="halo-4 service-record-header">
	<%= render 'halo4/matches/partials/match_header' %>

	<div class="experience-bar" data-spy="affix" data-offset-top="540">
		<%= render 'partials/experience_bar' %>
	</div>

	<div class="page-content fluid-container row">
		<div class="col-md-12">
			<%= render 'partials/flash_messages' %>
		</div>

		<div id="sections" class="col-md-10">
			<section id="match-players">
				
			</section>
		</div>

		<div class="col-md-2">
			<nav class="sidebar hidden-sm hidden-xs" data-spy="affix" data-offset-top="567">
				<%= render 'halo4/partials/sidebar' %>
			</nav>
		</div>
	</div>
</div>

<% content_for :scripts do %>
<% end %>
