.halo4_game_history {

	.game-details {

		// le cover stuff
		> .cover {
			min-height: 320px;
			width: 100%;
			background-size: cover;
			background-repeat: no-repeat;

			> .mask {
				background: -moz-linear-gradient(45deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
				background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(0,0,0,0.65)), color-stop(100%, rgba(0,0,0,0)));
				background: -webkit-linear-gradient(45deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
				background: -o-linear-gradient(45deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
				background: -ms-linear-gradient(45deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
				background: linear-gradient(45deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
				height: 100%;

				> .inner {
					padding: 10px;
					color: #c5c5c5;

					> .title {
						text-align: center;

						> h2 {
							color: white;
						}
					}

					> .game-icon {
						width: 128px;
						height: 128px;
						margin: 0 auto;

						background-repeat: no-repeat;
					}

					> .map {
						font-size: 16px;
						text-align: center;

						> span.focus {
							color: white;
						}
					}

					> .victor {
						max-width: 248px;
						margin: 0 auto;
						text-align: center;
					}
				}
			}

			> .victor-player-model {
				background-repeat: no-repeat;
				background-position: 30px 20px;

				height: 348px;
				width: 100%;
				position: absolute;
				top: 138px;
				left: 0;

				@media (min-width: 768px) and (max-width: 992px) {
					height: 342px;
				}
			}
		}
	}
}
