body.halo4 {
	.halo4-header {
		height: 300px;

		.container {
			height: 100%;

			.name-flairs {
				.col-md-12 { 
					h1 > img {
						margin-top: -45px;

						@media (min-width: 768px) and (max-width: 991px) {
							display: none !important;
						}
						@media (max-width: 767px) {
							display: none !important;
						}
					}
				}

				h2 {
					margin-top: -10px;
				}

				img {
					margin: -20px auto;
				}
			}
			.rank-flairs {
				margin-top: 30px;
			}

			.spartan-image {
				height: 140%;		
				width: 300px;

				background-repeat: no-repeat;
				-moz-transform: scaleX(-1);
				-o-transform: scaleX(-1);
				-webkit-transform: scaleX(-1);
				transform: scaleX(-1);
				filter: FlipH;
				-ms-filter: "FlipH";

				position: absolute;
				bottom: 0;
				right: 0;		
				margin-bottom: -40px;	
			}
			.spartan-insignia {
				height: 420px;
				width: 300px;

				background-repeat: no-repeat;
				background-position: top left;

				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}
}
