body.halo4_service_record {
	.game-history {
		.row > .game-history-entry {
			margin: 20px 0;
			padding: 0 10px;
			height: 220px;
			overflow: hidden;

			&.selected {
				box-shadow: 0px 0px 10px red;
			}

			> a {
				color: white;

				&:hover {
					text-decoration: none;
					color: white;
				}

				> .game-history-container {
					background-size: cover;
					background-repeat: no-repeat;

					height: 100%;

					-moz-box-sizing: border-box; 
					-webkit-box-sizing: border-box; 
					box-sizing: border-box;

					> .mask {
						width: 100%;
						height: 100%;

						-moz-box-sizing: border-box; 
						-webkit-box-sizing: border-box; 
						box-sizing: border-box;

						&.dnf {
							/* IE9 SVG, needs conditional override of 'filter' to 'none' */
							background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNzI3MjcyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
							background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(114,114,114,1) 100%); /* FF3.6+ */
							background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(114,114,114,1))); /* Chrome,Safari4+ */
							background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%,rgba(114,114,114,1) 100%); /* Chrome10+,Safari5.1+ */
							background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%,rgba(114,114,114,1) 100%); /* Opera 12+ */
							background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%,rgba(114,114,114,1) 100%); /* IE10+ */
							background: radial-gradient(ellipse at center, rgba(255,255,255,0) 0%,rgba(114,114,114,1) 100%); /* W3C */
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#727272',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
						}
						&.los {
							/* IE9 SVG, needs conditional override of 'filter' to 'none' */
							background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNzI3MjcyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
							background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(213,19,14,0.5) 100%); /* FF3.6+ */
							background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(213,19,14,0.5))); /* Chrome,Safari4+ */
							background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%,rgba(213,19,14,0.5) 100%); /* Chrome10+,Safari5.1+ */
							background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%,rgba(213,19,14,0.5) 100%); /* Opera 12+ */
							background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%,rgba(213,19,14,0.5) 100%); /* IE10+ */
							background: radial-gradient(ellipse at center, rgba(255,255,255,0) 0%,rgba(213,19,14,0.5) 100%); /* W3C */
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#aad5130e',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
						}
						&.win {
							/* IE9 SVG, needs conditional override of 'filter' to 'none' */
							background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNzI3MjcyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
							background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(10,133,190,0.5) 100%); /* FF3.6+ */
							background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(10,133,190,0.5))); /* Chrome,Safari4+ */
							background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%,rgba(10,133,190,0.5) 100%); /* Chrome10+,Safari5.1+ */
							background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%,rgba(10,133,190,0.5) 100%); /* Opera 12+ */
							background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%,rgba(10,133,190,0.5) 100%); /* IE10+ */
							background: radial-gradient(ellipse at center, rgba(255,255,255,0) 0%,rgba(10,133,190,0.5) 100%); /* W3C */
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#aa0a85be',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
						}
					}

					> .gametype-icon {
						position: absolute;
						top: 0;
						left: 0;
						height: 100%;
						width: 100%;
						overflow: hidden;
						opacity: 0.3;
						display: none;

						background-repeat: no-repeat;
						background-position: center center;
					}

					> .inner {
						position: absolute;
						top: 10px;
						left: 20px;
						height: 100%;
						width: 100%;
						overflow: hidden;

						.gametype {
							font-size: 25px;
							font-weight: 600;
							opacity: 0.7;
						}
						.selector {
							opacity: 0.7;
						}
						.map-name {
							font-size: 20px;
							font-weight: 500;
						}

						.stats {
							position: absolute;
							bottom: -5px;
							left: 0;

							> .type {
								font-size: 20px;
							}
							> .stat {
								font-size: 80px;
								opacity: 0.6;
							}
						}

						.windicator {
							position: absolute;
							bottom: -30px;
							right: 0;

							opacity: 0.2;
							font-size: 40px;
							font-weight: 900;
							text-transform: uppercase;

							@media (max-width: 767px) {
								opacity: 0.3;	
								right: 25px;
								bottom: -10px;
								font-size: 60px;
							}
						}
					}
				}
			}
		}
	}
}