body.halo4_specialization {
	.specialization {
		.title {
			font-size: 16px;
			font-weight: 600;
		}
		.description {
			font-size: 14px;
		}
		.level-progression {
			margin-top: 20px;
		}

		.specialization-icon {
			background-repeat: no-repeat;
			height: 130px;
		}

		.other-shit {
			margin-top: 60px;
		}
	}
}
