body.home {
	.welcome-header {
		padding-bottom: 0;
		text-align: center;
		padding-bottom: 50px;
	}

	@media screen and (min-width: 992px) {
		.bs-header h1,
		.bs-header p {
			margin-right: 0px;
			text-align: center;
		}
	}

	.project-stats {
		margin: 0;
		padding: 0;
		margin-top: -10px;
		margin-bottom: 0;
		list-style-type: none;
	}
		.project-stats li {
			display: inline;
			margin-left: 10px;

			font-size: 12px;
		}
		.project-stats li:first-child {
			display: inline;
			margin-left: 0px;
		}
			.project-stats li a {
				
			}

	.social-media-shit {
		margin: 0;
		padding: 0;
		margin-top: 15px;
		list-style-type: none;
	}
		.social-media-shit li {
			display: inline;
			margin-left: 20px;
		}
		.social-media-shit li:first-child {
			display: inline;
			margin-left: 0px;
		}


	.marketing {
		margin-top: 100px;
		margin-bottom: 50px;
	}
		.marketing > .central {
			text-align: center;
		}
		.marketing > hr {
			margin: 80px 0;
		}

	.games {
		.game {
			height: 450px;

			.game-backup-cover {
				background: #ffffff no-repeat center 0 fixed;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				width: 100%;
				height: 100%;
				position: relative;

				&.Halo4 { background-image: url('/Content/Images/Home/Covers/Halo4/cover1.jpg'); }
				&.Destiny { background-image: url('/Content/Images/Home/Covers/Destiny/cover1.jpg'); }

				.game-cover {
					background: #ffffff no-repeat center 0 fixed;
					-webkit-background-size: cover;
					-moz-background-size: cover;
					-o-background-size: cover;
					background-size: cover;
					width: 100%;
					height: 100%;

					&.Halo4 { background-image: url('/Content/Images/Home/Covers/Halo4/cover1.jpg'); }
					&.Destiny { background-image: url('/Content/Images/Home/Covers/Destiny/cover1.jpg'); }
				}
			}

			.mask {
				/* IE9 SVG, needs conditional override of 'filter' to 'none' */
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
				background: -moz-linear-gradient(left, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(left, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(left, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(left, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%); /* IE10+ */
				background: linear-gradient(to right, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%); /* W3C */
				
				&.soon {
					background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
					background: -moz-linear-gradient(left, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.8)), color-stop(100%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(left, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(left, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(left, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 100%); /* IE10+ */
					background: linear-gradient(to right, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 100%); /* W3C */
				}

				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				position: absolute;
				width: 100%;
				height: 450px;
				color: #aaa;

				.container {
					padding: 20px;
					
					a,
					a:link,
					a:visited,
					a:active {
						text-decoration: none;
						color: #fff;
						transition: color 0.3s ease;
					}
					a:hover {
						color: #aaa;
					}

					h1 {
						font-family: 'Segoe UI', 'Open Sans Condensed';
						font-weight: 300;
						font-size: 90px;
					}
					p {
						font-family: 'Segoe UI', 'Open Sans Condensed';
						font-weight: 300;
						font-size: 25px;
					}
				}
			}
		}
	}
}
