body.halo4_playlists {
	.playlist-entry {
		.meta {
			background-size: cover;
			background-repeat: no-repeat;

			margin-top: 10px;
			padding: 0;
			height: 200px;
			color: #eee;

			.mask {
				background: -moz-linear-gradient(45deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
				background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(0,0,0,0.65)), color-stop(100%, rgba(0,0,0,0)));
				background: -webkit-linear-gradient(45deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
				background: -o-linear-gradient(45deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
				background: -ms-linear-gradient(45deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
				background: linear-gradient(45deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
				height: 100%;

			}
			.content {
				height: 200px;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin-top: 25px;
				margin-left: 25px;

				strong {
					font-size: 25px;
				}

				.players {
					opacity: 0.5;
					position: absolute;
					bottom: 11px;
					right: 0;
					overflow: hidden;

					.count {
						font-size: 80px;
						font-weight: 500;
						bottom: 0;
						right: -10px;
					}
				}
			}
		}

		.extra-shit-is-in-tabs {
			margin-top: 220px;

			.tab-content > .tab-pane {
				margin: 15px;

				&.gvar {
					td > .icon-frame {
						width: 120px;
						height: 120px;
						background-color: #3d3d7c;
						background-position: center;
						background-repeat: no-repeat;
					}
				}

				&.mvar {
					td {
						> .preview-frame {
							width: 180px;
							height: 130px;
							background-color: #3d3d7c;
							background-position: center;
							background-size: cover;
							background-repeat: no-repeat;
						}

						> .name {
							width: 130px;
						}
					}
				}
			}
		}
	}
}

