<% content_for :user, true %>
<% content_for :title, 'Xerax\'s Profile' %>	
<% content_for :has_footer, true %>
<% content_for :template, 'user user_view' %>

<div class="bs-header welcome-header" id="content">
	<div class="container">
		<h1>Xerax</h1>
		<p>Browse, Search and Explore Halo 4 stats. Just how you want.</p>
	</div>
</div>