<% content_for :home, true %>
<% content_for :has_footer, true %>
<% content_for :template, 'domain' %>
<% content_for :scripts do %>
<script>

</script>
<% end %>

<div class="bs-header" id="content">
	<div class="container">
		<h1>Branch Domain</h1>
		<p>super secret.</p>
	</div>
</div>