@{
	ViewBag.Title = "Welcome";
	ViewBag.Template = "home";
}

<div class="bs-header welcome-header" id="content">
	<div class="container">
		<h1>Welcome to Branch</h1>
		<p>Detailed Halo Stats. Designed and Built with the community in mind.</p>

		<ul class="project-stats" style="display: none;">
			<li>
				Last Commit: <a class="alt" id="last-commit" target="_blank" href=""></a>
			</li>

			<li>
				By: <a class="alt" id="last-commiter" target="_blank" href=""></a>
			</li>
		</ul>
		
		<!-- Social Networks are such a fad -->
		<ul class="social-media-shit">
			<li>
				<!-- NeckbeardHub -->
				<iframe src="http://ghbtns.com/github-btn.html?user=xerax&repo=branch&type=watch"
						allowtransparency="true"
						frameborder="0"
						scrolling="0"
						width="50"
						height="20"></iframe>
			</li>

			<li>
				<!-- NeckbeardHub 2 -->
				<iframe src="http://ghbtns.com/github-btn.html?user=xerax&repo=branch&type=fork"
						allowtransparency="true"
						frameborder="0"
						scrolling="0"
						width="55"
						height="20"></iframe>
			</li>
		</ul>
	</div>
</div>

<div class="container">
	@*<%= render partial: 'partials/flash', locals: { flash: flash } %>*@
</div>

<div class="container marketing">
	<div class="row central">
		<div class="col-md-4">
			<img src="@Url.Content("~/Content/Images/Home/preview-responsive.png")" class="img-circle" alt="" style="width: 140px; height: 140px;" />
			<h2>Simple</h2>
			<p>
				Branch is designed from top to bottom to show your stats in a clean, and simple mannor. And it is entirely responsive to work on every device you own.
			</p>
		</div>

		<div class="col-md-4">
			<img src="@Url.Content("~/Content/Images/Home/preview-speed.png")" class="img-circle" alt="" style="width: 140px; height: 140px;" />
			<h2>Fast</h2>
			<p>
				Branch is built without fancy background videos, 'edgy' animated buttons, and 2.2mb of clutter. So you can spend less time waiting, and more time viewing.
			</p>
		</div>

		<div class="col-md-4">
			<img src="@Url.Content("~/Content/Images/Home/preview-social.png")" class="img-circle" alt="" style="width: 140px; height: 140px;" />
			<h2>Social</h2>
			<p>
				What fun is getting a K/D of 6.9, or camping in lighting flag to get 1,000's of kills if you can't even brag about it on your favourite social network?
			</p>
		</div>
	</div>
</div>

<div class="games">
	<div id="Halo4" class="game" count-data-ref="1">
		<div class="game-backup-cover Halo4">
			<div class="game-cover Halo4"></div>
			<div class="mask">
				<div class="container">
					<a href="" class="alt">
						<h1>
							Halo 4 Stats
						</h1>
						<p>
							Service Records, to Game Histories, to Commendation Progress, to In-Depth Game Details.
						</p>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div id="MCC" class="game" count-data-ref="1">
		<div class="game-backup-cover MCC">
			<div class="game-cover MCC"></div>
			<div class="mask soon">
				<div class="container text-right">
					<h1>
						Master Chief Collection Stats
					</h1>
					<p>
						Coming, November 2014.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts
{
	<script>
		var games = ["Halo4", "Destiny", "MCC"];
		var imagesCount = 4;

		$(document).ready(function() {

			var images = new Array();

			function preload() {
				for (var i = 1; i < games.length + 1; i++) {
					for (var j = 1; j < imagesCount + 1; j++) {
						var index = (i * j) - 1;
						var game = games[i - 1];
						images[index] = new Image();
						images[index].src = '/Content/Images/Home/Covers/' + game + '/cover' + j + '.jpg';
					}
				}
			}
			function updateGameImage(index) {
				var game = games[index];
				var gameDom = $(".game#" + game);
				var currentIndex = gameDom.attr('count-data-ref');
				var gameBackupCover = $(".game#" + game + " > .game-backup-cover");
				var gameCover = $(".game#" + game + " > .game-backup-cover > .game-cover");

				var oldIndex = currentIndex;
				currentIndex++;
				if (currentIndex > imagesCount) {
					currentIndex = 1;
				}

				gameBackupCover.css('background-image', 'url(/Content/Images/Home/Covers/' + game + '/cover' + oldIndex + '.jpg)');
				$(gameCover).fadeOut(800, function () {
					gameCover.css('background-image', 'url(/Content/Images/Home/Covers/' + game + '/cover' + currentIndex + '.jpg)');
					$(gameCover).fadeIn(800, function () {
						$(gameDom).attr('count-data-ref', currentIndex);
					});
				});
			}

			preload();

			setInterval(function () {
				var index = Math.floor(Math.random() * games.length - 1) + 1;
				updateGameImage(index);
			}, 4000);

			$.getJSON('https://api.github.com/repos/thetree/branch/commits', function(data) {
				var commit = data[0];

				// Link to last commit
				$('.project-stats > li > #last-commit').attr('href', "https://github.com/thetree/branch/commit/" + commit.sha);
				$('.project-stats > li > #last-commit').text(commit.sha.substring(0, 7));

				// Link to last commiter
				$('.project-stats > li > #last-commiter').attr('href', "https://github.com/" + commit.committer.login);
				$('.project-stats > li > #last-commiter').text(commit.committer.login);

				setTimeout(function() {
					$('.project-stats').fadeIn(600);
				}, 1000);
			});
		});
	</script>
}