@{
	ViewBag.Title = "Welcome";
	ViewBag.Template = "home";
}

<div class="bs-header welcome-header" id="content">
	<div class="container">
		<h1>Welcome to Branch</h1>
		<p>Detailed Halo Stats. Designed and Built with the community in mind.</p>

		<ul class="project-stats" style="display: none;">
			<li>
				Last Commit: <a class="alt" id="last-commit" target="_blank" href=""></a>
			</li>

			<li>
				By: <a class="alt" id="last-commiter" target="_blank" href=""></a>
			</li>
		</ul>
	</div>
</div>

<div class="container">
	@*<%= render partial: 'partials/flash', locals: { flash: flash } %>*@
</div>

<div class="container marketing">
	<div class="row central">
		<div class="col-md-4">
			<img src="@Url.Content("~/Content/Images/Home/preview-responsive.png")" class="img-circle" alt="" style="width: 140px; height: 140px;" />
			<h2>Simple</h2>
			<p>
				Branch is designed from top to bottom to show your stats in a clean, and simple mannor. And it is entirely responsive to work on every device you own.
			</p>
		</div>

		<div class="col-md-4">
			<img src="@Url.Content("~/Content/Images/Home/preview-speed.png")" class="img-circle" alt="" style="width: 140px; height: 140px;" />
			<h2>Fast</h2>
			<p>
				Branch is built without fancy background videos, 'edgy' animated buttons, and 2.2mb of clutter. So you can spend less time waiting, and more time viewing.
			</p>
		</div>

		<div class="col-md-4">
			<img src="@Url.Content("~/Content/Images/Home/preview-social.png")" class="img-circle" alt="" style="width: 140px; height: 140px;" />
			<h2>Social</h2>
			<p>
				What fun is getting a K/D of 6.9, or camping in lighting flag to get 1,000's of kills if you can't even brag about it on your favourite social network?
			</p>
		</div>
	</div>
</div>

<div class="games">
	<div class="game Halo4" count-data-ref="1">
		<div class="mask">
			<div class="container">
				<h1>
					Halo 4 Stats
				</h1>
				<p>
					check em out
				</p>
			</div>
		</div>
	</div>
	<div class="game Destiny" count-data-ref="1">
		<div class="mask soon">
			<div class="container">
				<h1>
					Destiny
				</h1>
				<p>
					sooooon
				</p>
			</div>
		</div>
	</div>
</div>

@section scripts
{
	<script>
		var games = ["Halo4", "Destiny"];
		var imagesCount = 4;
		


		$(document).ready(function () {
			
			var images = new Array();
			function preload() {
				for (var i = 1; i < games.length + 1; i++) {
					for (var j = 1; j < imagesCount + 1; j++) {
						var index = (i * j) - 1;
						var game = games[i - 1];
						images[index] = new Image();
						images[index].src = '/Content/Images/Home/Covers/' + game + '/cover' + j + '.jpg';
					}
					
				}
			}
			preload();

			setInterval(function () {
				for (var i = 0; i < games.length; i++) {
					var game = games[i];
					var currentIndex = $(".game." + game).attr('count-data-ref');
					currentIndex++;
					if (currentIndex > imagesCount) {
						currentIndex = 1;
					}
					$(".game." + game).attr('count-data-ref', currentIndex);
					$(".game." + game).css('background-image', 'url(/Content/Images/Home/Covers/' + game + '/cover' + currentIndex + '.jpg)');
				}
			}, 5000);

			$.getJSON('https://api.github.com/repos/thetree/branch/commits', function(data) {
				var commit = data[0];

				// Link to last commit
				$('.project-stats > li > #last-commit').attr('href', "https://github.com/thetree/branch/commit/" + commit.sha);
				$('.project-stats > li > #last-commit').text(commit.sha.substring(0, 7));

				// Link to last commiter
				$('.project-stats > li > #last-commiter').attr('href', "https://github.com/" + commit.committer.login);
				$('.project-stats > li > #last-commiter').text(commit.committer.login);

				setTimeout(function() {
					$('.project-stats').fadeIn(600);
				}, 1000);
			});
		});
	</script>
}