#halo4-service-record {
	> .page-content {
		section {
			margin-bottom: 70px;

			&:last-of-type {
				margin-bottom: 0;
			}

			.section-header {
				font-weight: 300;
				font-size: 30px;
				// color: $text-dark;
				color: $brand-primary;
				margin-bottom: 25px;

				width: 100%;
				border-bottom-width: 1px;
				border-bottom-style: solid;
				border-bottom-color: $brand-tertiary;
			}

			&#service-record-stats {
				.player-rank {
					margin-bottom: 15px;

					> .current-rank,
					.next-rank {
						font-size: 18px;
						font-weight: 600;
						color: $text-grey;

						> .xp {
							font-size: 12px;
							font-weight: 300;
							color: $text-grey;
						}
					}

					.progress-bar {
						min-width: 165px;
					}
				}

				.player-flair {
					height: 60px;
					background-size: 45px;
					background-repeat: no-repeat;
					background-position: left center;

					display: inline-block;

					color: $text-dark;
					padding-left: 60px;
					padding-top: 9px;

					> span {
						display: block;

						&.gamertag {
							font-size: 18px;
						}
						&.service-tag {
							margin-top: -5px;
							font-size: 16px;
							font-weight: 600;
						}
					}
				}

				.top-medals {
					> span {
						display: block;
						margin-bottom: 20px;
						margin-top: 10px;

						color: $brand-accent-primary;
						font-size: 25px;
						font-weight: 300;
						text-align: center;
					}

					> .medals {
						display: flex;
						flex-wrap: wrap;
						align-items: center;
						justify-content: center;

						> .top-medal {
							background-position: center top;
							background-repeat: no-repeat;
							background-size: cover;

							width: 90px;
							height: 90px;
							margin: 10px 20px;
						}
					}
				}

				.general-player-details {
					.badge {
						background-color: $brand-accent-primary;
					}
				}
			}

			&#war-games-stats,
			&#custom-games-stats {
				> .row {
					> .mode-stats > .stat {
						text-align: center;
						padding-left: 25px;
						padding-right: 25px;
						margin-bottom: 56px;

						> div {
							padding: 10px;
						}

						> .value {
							font-size: 35px;
							font-weight: 300;
							color: $brand-accent-primary;
						}
						> .key {
							font-size: 15px;
							font-weight: 600;
							background-color: rgba($brand-accent-primary, 0.1);
						}
					}

					> .favourite-variant {
						> .title {
							color: $brand-accent-primary;
							font-weight: 300;
							font-size: 25px;
							text-align: center;
						}

						> .variant-icon {
							background-color: rgba($seperator-light, 0.9);
							background-repeat: no-repeat;
							background-position: center;
							background-size: 100px;
							height: 120px;
							margin-top: 20px;
							margin-bottom: 10px;
						}

						.row {
							text-align: center;

							> .col-md-12 {
								font-size: 25px;
								font-weight: 300;
								color: $brand-accent-tertiary;

								margin-bottom: 15px;
							}

							> .stat {
								padding-left: 10px;
								padding-right: 10px;

								> div {
									padding: 10px;
								}

								> .value {
									font-size: 22px;
									font-weight: 300;
									color: $brand-accent-primary;
								}
								> .key {
									font-size: 13px;
									font-weight: 600;
									background-color: rgba($brand-accent-primary, 0.1);
								}
							}
						}
					}
				}
			}

			&#campaign-stats {
				> .row {
					> .mode-stats > .stat {
						text-align: center;
						padding-left: 25px;
						padding-right: 25px;
						margin-bottom: 56px;

						> div {
							padding: 10px;
						}

						> .value {
							font-size: 35px;
							font-weight: 300;
							color: $brand-accent-primary;
						}
						> .key {
							font-size: 15px;
							font-weight: 600;
							background-color: rgba($brand-accent-primary, 0.1);
						}
					}

					> .mission-progression {
						> .title {
							color: $brand-accent-primary;
							font-weight: 300;
							font-size: 25px;
							text-align: center;
						}

						.progressions {
							text-align: center;

							> .col-md-12 {
								font-size: 25px;
								font-weight: 300;
								color: $brand-accent-tertiary;

								margin-bottom: 15px;
							}

							> .progression {
								padding-left: 10px;
								padding-right: 10px;
								margin-bottom: 15px;

								> div:not(.tooltip) {
									padding: 10px;
								}

								> .value {
									// background-color: rgba(lightslategrey, 0.6);

									> .value-image {background-position: center;
										background-repeat: no-repeat;
										background-size: 80px;

										width: 100%;
										height: 120px;
									}
								}
								> .key {
									font-size: 13px;
									font-weight: 600;
									background-color: rgba($brand-accent-primary, 0.1);
								}
							}
						}
					}
				}
			}

			&#spartan-ops-stats {
				> .row {
					> .mode-stats > .stat {
						text-align: center;
						padding-left: 25px;
						padding-right: 25px;
						margin-bottom: 56px;

						> div {
							padding: 10px;
						}

						> .value {
							font-size: 35px;
							font-weight: 300;
							color: $brand-accent-primary;
						}
						> .key {
							font-size: 15px;
							font-weight: 600;
							background-color: rgba($brand-accent-primary, 0.1);
						}
					}

					> .mission-progression {
						> .title {
							color: $brand-accent-primary;
							font-weight: 300;
							font-size: 25px;
							text-align: center;
						}

						> .progressions {
							> .progression {
								margin-bottom: 50px;
								&:last-of-type { margin-bottom: auto; }

								> span {
									overflow: none;
									text-overflow: ellipsis;
									font-weight: 300;
									font-size: 18px;
									color: $brand-accent-primary;
								}
								> .progress-bar-container {
									margin-top: 10px;

									> .progress-bar {
										min-width: 85px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
