<%
	content = activity[:content]
	user = content[:user]
%>
<li>
	<span class="glyphicon glyphicon-user"></span>
	<div class="info">
		<%= link_to(content[:follow].follower.username, user_view_path(id: content[:follow].follower.username)) %>
		followed
		<% if (content[:follow].following == current_user()) %>
			<%= link_to('You', user_view_path(id: current_user().username)) %>
		<% else %>
			<%= link_to(content[:follow].following.username, user_view_path(id: content[:follow].following.username)) %>
		<% end %>

		<attr title="Date's might be in-accurate.">
			<span class="time-info"><%= time_ago_in_words(activity[:event_date]) %> ago</span>
		</attr>
	</div>
</li>


<!-- <li>
	<span class="glyphicon glyphicon-user"></span>
	<div class="info">
		<a href="#">Xerax</a> added <a href="#">iBotPeaches</a> as a friend
		<span class="time-info">12 minutes ago</span>
	</div>
</li> -->