<% title " - #{@blog_entry.title}" %>
<% active_blog 'active' %>

<div class="span12">
	<div class="well">
		<h1><%= @blog_entry.title %></h1>

		<h6>Posted at <%= @blog_entry.updated_at %>, by Xerax</h6>

		<hr />

		<%= @markdown.render(@blog_entry.body).html_safe %>
	</div>

	<%= render partial: 'halo4/global/social_sharing' %>
</div>