/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.cleaner {
    clear: both;
    font-size: 1px;
}

a {
    color: #1570a6;
    transition-property: color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
}
a:hover {
    color: #ce8b10;
}

.expander_heading {
    margin: 1px;
    padding: 3px 10px;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #333;
}
.expander_content {
    padding: 5px 10px;
    font-size: 14px;
}