body.home {
	.welcome-header {
		padding-bottom: 0;
		text-align: center;
	}

	@media screen and (min-width: 992px) {
		.bs-header h1,
		.bs-header p {
			margin-right: 0px;
			text-align: center;
		}
	}

	.project-stats {
		margin: 0;
		padding: 0;
		margin-top: -10px;
		margin-bottom: 0;
		list-style-type: none;
	}
		.project-stats li {
			display: inline;
			margin-left: 10px;

			font-size: 12px;
		}
		.project-stats li:first-child {
			display: inline;
			margin-left: 0px;
		}
			.project-stats li a {

			}

	.social-media-shit {
		margin: 0;
		padding: 0;
		margin-top: 10px;
		margin-bottom: 30px;
		list-style-type: none;
	}
		.social-media-shit li {
			display: inline;
			margin-left: 20px;
		}
		.social-media-shit li:first-child {
			display: inline;
			margin-left: 0px;
		}


	.marketing {
		margin-top: 100px;
	}
		.marketing > .central {
			text-align: center;
		}
		.marketing > hr {
			margin: 80px 0;
		}

	.featurette h2 {
		font-weight: 300;
		line-height: 1;
		letter-spacing: -1px;
	}
	@media (min-width: 768px) {

		.marketing {
			padding-left: 0;
			padding-right: 0;
		}

		.featurette h2 {
			font-size: 50px;
		}

	}
	@media (min-width: 992px) {
		.featurette h2 {
			margin-top: 120px;
		}
	}

	.activity-feed {
		> .page-header > h1 {
			font-size: 20px;
		}

		> ul {
			margin: 0;
			padding: 0;

			list-style-type: none;

			> li {
				padding: 20px;
				border-bottom: 1px solid #f1f1f1;

				> .glyphicon {
					margin-bottom: -20px;
				}

				&.halo4-multi-task {
					> .info {
						> .history {
							margin-top: 20px;

							> .preview {
								float: left;

								> .map-preview-frame {
									padding: 5px;
									border: 1px solid #eee;

									> .col {
										float: left;
										background-size: cover;

										&.col-cover {
											width: 140px;
											height: 100px;
										}
										&.col-part {
											width: 70px;
											height: 50px;
										}
									}
								}
							}
							> .game-list {
								float: left;
								> ul {
									margin: 0px 0 0 20px;
									> li {
										line-height: 16.6666666667px;
									}
								}
							}
						}
					}
				}

				&.halo4-single-task {
					> .info {
						> .details > .victory-indicator {
							text-transform: lowercase;
						}
						> img {
							opacity: 0.7;
							padding: 5px;
							margin-top: 8px;
						}
					}
				}

				> .info {
					margin-left: 40px;
					margin-top: -19px;

					font-size: 13px;

					> attr > .time-info {
						color: #bbb;
						font-size: 12px;
					}

					// helpers
					.victory-indicator {
						&.win {
							color: rgb(10,133,190);
						}
						&.los {
							color: rgb(213,19,14);
						}
						&.dnf {
							color: #727272;
						}
					}
				}

				&:last-child {
					border-bottom: none;
				}
			}
		}
	}
}