.countdown {
	.clock {
		width: 850px;
		margin: 0 auto;
		margin-top:50px;

		.clock_face {
			width: 95px;
			height: 95px;
			background-repeat: no-repeat;
			float: left;
			margin-right: 50px;
			position: relative;

			.clock_days {
			}
			.clock_hours { 
			}
			.clock_minutes {
			}
			.clock_seconds {
			}

			.text {
				position: absolute;
				width: 50px;
				top: 24px;
				left: 23px;
				text-align: center;
				text-transform: uppercase;
				font-weight: bold;
				margin: 0;

				.val {
					font-size: 25px;
					color: #616161;
					margin: 0;
				}
				.type {
					font-size: 8px;
					color: #AAA;
					margin: 0;
				}
			}
		}
	}
}