// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.search-player-card {

}
  .search-player-card > .armour-preview {
    float: left;

    background-position: -9px -20px;
    border:  1px solid #333;

    width: 200px;
    height: 200px;
  }