// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.search {
	.search-result-block {
		.row {
			list-style-type: none;
			padding: 0;

			.entry {
				height: 220px;
				margin-bottom: 50px;

				a {
					color: inherit;
					text-decoration: none;

					&:hover {
						color: inherit;
						text-decoration: none;
					}
				}

				.spartan-image {
					height: 100%;

					background-repeat: no-repeat;
					background-position-x: right;
				}

				.mask {
					position: absolute;
					top: 0;
					left: 0;

					height: 100%;
					width: 100%;

					background: -moz-linear-gradient(top, rgba(30,87,153,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
					background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
				}

				.text-container {
					position: absolute;
					top: 5px;
					left: 15px;

					height: 100%;
					width: 100%;
				}

				ul {
					position: absolute;
					bottom: 0px;
					right: 40px;

					opacity: 0.1;
					font-size: 50px;

					list-style-type: none;
				}
			}
		}
	}
}