// ---- Le Navbar ----
// --------------------------------------------
body {
	padding-top: 50px;
}

// ---- Float Helpers ----
// --------------------------------------------
.right {
	float: right;
}
.left {
	float: left;
}

// ---- Padding and Spacing Helpers ----
// --------------------------------------------
.bitch-needs-a-break {
	margin-top: 40px;
}

.text-right {
	text-align: right;
}

.seperator {
	margin: 10px;
	height: 1px;
	border: 1px solid #aaa;
	opacity: 0.6;
}

// ---- Custom Containers ----
// --------------------------------------------
.alert-container {
	margin-top: 40px;
	margin-bottom: 10px;
}

.ad-container {
	width: 790px;
	margin: 100px auto 0 auto;
}

// ---- Fuck Ul's ----
// --------------------------------------------
ul.no-style {
	list-style-type: none;
	margin: 0;
	padding: 0;

	&.inline {
		> li {
			display: inline;
		}
	}
}

// ---- Footer sexy shit ----
// --------------------------------------------
footer > .container > .row > .col-md-2 > .made-in {
	font-size: 12px;
	color: #aaa;
}

@import "Home/index";
@import "Halo4/home";
@import "Halo4/service_record";
