// ---- Float Helpers ----
// --------------------------------------------
.right {
	float: right;
}

.left {
	float: left;
}

// ---- Padding and Spacing Helpers ----
// --------------------------------------------
.bitch-needs-a-break {
	/*margin-top: 40px;*/
}

.text-right {
	text-align: right;
}

.seperator {
	margin: 10px;
	height: 1px;
	border: 1px solid #aaa;
	opacity: 0.6;
}

// ---- Custom Containers ----
// --------------------------------------------
.alert-container {
	margin-top: 40px;
	margin-bottom: 10px;
}

.ad-container {
	width: 790px;
	margin: 100px auto 0 auto;
}

// ---- Fuck Ul's ----
// --------------------------------------------
ul.no-style {
	list-style-type: none;
	margin: 0;
	padding: 0;

	&.inline {
		> li {
			display: inline;
		}
	}
}

// ---- Footer sexy shit ----
// --------------------------------------------
footer > .container > .row > .col-md-2 > .made-in {
	font-size: 12px;
	color: #aaa;
}


// ---- Fuck yo navbars ----
// --------------------------------------------
.navbar-right {
	margin-right: 0 !important;
}

// ---- Search Stuff ----
// --------------------------------------------
.auto-complete-container-parent {
	@media (max-width: 1199px) {
		display: none !important;
	}

	.auto-complete-container {
		position: absolute;
		top: 55px;
		right: 31px;
		border: 1px solid #eee;
		border-radius: 5px;
		background: #ffffff;
		width: 280px;
		padding: 18px 18px 10px 18px;
		box-shadow: 0 0 15px #555;
		opacity: 0;

		.search-divider {
			margin-bottom: 3px;
		}

		.search-header {
			color: #bbb;
			text-transform: uppercase;
			font-weight: 800;
			font-size: 13px;
		}

		.search-list {
			list-style-type: none;
			-webkit-padding-start: 0;
			padding-left: 0;

			.search-sub-ident {
				color: #bbb;
				text-decoration: none;
				font-weight: 800;
				font-size: 11px;
				margin-bottom: 3px;
			}
		}
	}
}


// ---- Custom Anchors ----
// --------------------------------------------
a {
	color: #3d3d7c;
}

a.alt {
	color: #ffa210;
}

a.plain {
	color: white;
	text-decoration: none;

	&:hover,
	&:visited,
	&:active {
		color: white;
		text-decoration: none;
	}
}

@import "Home/index";
@import "About/index";
@import "Blog/index";
@import "Search/index";

@import "Shared/game_switcher";

@import "Areas/Halo4/home";
@import "Areas/Reach/home";
