- if flash[:notice] && (flash[:type] == 'success' || flash[:type] == 'error' || flash[:type] == 'warning')
  .span9
    %div{ :class => "alert alert-#{flash[:type]}", :style => 'margin-bottom: 30px;' }
      %a.close
        ×
      %strong
        - if flash[:type] == 'success'
          Checkpoint... Done
        - elsif flash[:type] == 'warning'
          Oops...
        - else
          Woah Cowboy!
      %br/
      - flash[:notice].split('-').each do |message|
        #{message}
        Sup faggots
        %br/