- title ' - About'
- active_about 'active'
- container_type 'fluid'

.row-fluid
  = render :partial => 'application/notification_header'

  .span12
    %h3
      The Tree

    .row-fluid
      .span4.well
        twig
      .span4.well
        branch
      .span4.well
        leaf