body.blog_home {
	.blog-entry {
		// light - #cdbfe3
		// dark - #323465
		//border-color: #ddcef1;
		//background-color: #f7f5fA;

		margin: 20px 0;

		> .details {
			margin-top: 25px;
			> ul {
				list-style-type: none;
				margin: 0;
				padding: 0;

				> li > strong {
					font-weight: 500;
				}
			}
		}
	}
}

@import "view";