body.reach_commendations {
	.commendations {
		.commendation-entry {
			
			.commendation-image {
				background-position: center;
				background-repeat: no-repeat;

				height: 170px;

				@media (max-width: 991px) {
					height: 150px;
				}
			}

			.commendation-details {
				height: 170px;

				@media (max-width: 991px) {
					height: 150px;
				}
			}
		}
	}
}
