<!--
Guide;
	halo4_account :: The account that we doin it with
-->

<div class="col-md-4 entry">
	<a class="nope" href="<%= halo4_servicerecord_path(gamertag_validation(halo4_account.gamertag.gamertag)) %>">
		<div class="spartan-image" style="background-image: url(<%= get_player_model_url(halo4_account.gamertag.gamertag, 'large', 'posed') %>)"></div>
		<div class="mask"></div>
		<div class="text-container">
			<h2><%= gamertag_validation(halo4_account.gamertag.gamertag) %></h2>
			<div class="info">
				<strong>Gamertag Added:</strong><br />
				<%= "#{halo4_account.created_at.day}/#{halo4_account.created_at.month}/#{halo4_account.created_at.year}" %><br />
			</div>
		</div>
	</a>
</div>