@using Branch.App.Areas.Identity.Models
@model HeaderMetadata

<div class="bs-header user-auth-header" id="content">
	<div class="container">
		<h1>@Model.Title</h1>
		<p>@Model.Description</p>

		<div class="holy-shit-people hidden-xs">
			<div class="player a" style="background-image: url('https://spartans.svc.halowaypoint.com/players/DUALGAME/h4/spartans/fullbody?target=large')"></div>
			<div class="player b" style="background-image: url('https://spartans.svc.halowaypoint.com/players/lx leo xl/h4/spartans/fullbody?target=large')"></div>
			<div class="player c" style="background-image: url('https://spartans.svc.halowaypoint.com/players/Pr0gram/h4/spartans/fullbody?target=large')"></div>
		</div>
	</div>
</div>
