<!DOCTYPE html>
<html>

<head>
	<title>Branch</title>
	<%= csrf_meta_tags %>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css.map"/>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
				    aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Branch</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Stats <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Halo 3</a></li>
							<li><a href="#">Halo 3: ODST</a></li>
							<li><a href="#">Halo: Reach</a></li>
							<li><a href="#">Halo 4</a></li>
							<li><a href="#">Halo 5: Guardians</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Destiny</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Xbox Live</a></li>
						</ul>
					</li>
					<li><a href="#">About</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<%= yield %>

	<footer>
		<div class="container">
			<div class="col-md-8">
				<ul>
					<li>
						&copy; Branch App, <span class="copyright-year"></span>
					</li>
				</ul>
			</div>
			<div class="col-md-4">

			</div>
		</div>
	</footer>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>

</html>
