<% if flash[:notice] && (flash[:type] == 'success' || flash[:type] == 'error' || flash[:type] == 'warning') %>
  <div class="alert alert-<%= flash[:type] %>">
    <strong>
      <% if flash[:type] == 'success' %>
        Success
      <% else if flash[:type] == 'warning' %>
				Warning
      <% end %>
        Woah Cowboy!
      <% end %>
    </strong><br>
    <% flash[:notice].split('-').each do |message| %>
      <%= message %><br>
    <% end %>
  </div>
<% end %>